.loginLinks {
  display: flex;
  justify-content: center;
}

.link--register {
  padding: 1rem 1.5rem 2rem 0;
}

.form--login {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  padding: 2rem;
  z-index: 1;
  min-height: 25rem;
  width: 100%;
  max-width: 35rem;
  box-sizing: border-box;
}

.label--login {
  width: 8rem;
  display: inline-block;
}

.form-control {
  display: block;
  width: 94%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


